<<<<<<< HEAD
.box {
    width: 50%;
    height: 200px;
    border: 1px solid black;
    padding: 25px;
    margin: auto;
}
=======
.display_false {
    display: none
}

.display_true {
    display: block
}
>>>>>>> 8ad842504bc63d661122dc2eabcdec33b49e96e5
